@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

body {
    background-color: rgb(36, 36, 56);
    overflow: hidden;
}


*:focus {
    outline: none !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.815);
    width: 100%;
    height: 100%;
    z-index: 100000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-money-popup {
    width: 300px;
    height: 400px;
    background-color: rgb(36, 36, 56);
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

#deposit {
    outline: none;
    text-align: center;
}

#bet {
    width: 80%;
}

.play-btn {
    margin-top: 20%;
    padding: 20px;
    background-color: greenyellow;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    outline: none;
}


.play-btn:hover {
    background-color: rgb(113, 187, 2);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}



.cashout-btn {
    margin-top: 5%;
    padding: 20px;
    background-color: rgb(47, 179, 255);
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    outline: none;
    display: none;
}

.cashout-btn:hover {
    background-color: rgb(2, 135, 187);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}





.invalid {
    color: red;
    display: none;
}

.invalid-bet {
    color: red;
    display: none;
}

.invalid-line {
    border-color: red;
    background-color: red;
}




.main-title h1{
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 45px;
}

.grid {
    background-color: rgb(36, 36, 56);
    width: 700px;
    height: 700px;


    /* makes the tiles stay in the grid */
    display: flex;
    flex-wrap: wrap;
    
}

.settings-panel {
    background-color: rgb(38, 38, 63);
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-family: "Raleway";
}

#place-bet {
    text-align: center;
}

#place-bet input {
    outline: none;
    font-size: 25px;
    text-align: center;
}

.grid div {
    width: 140px;
    height: 140px;
    border: 7px solid rgb(36, 36, 56);
    border-radius: 15px;
    background-color: rgb(49, 49, 65);
}

.unchecked {
    cursor: pointer;
}

.unchecked:hover {
    background-color: rgb(61, 61, 80);
    transform: scale(1.05);
}

.checked {
    animation: colorFadeGem 0.6s ease forwards;
    background-size: cover;
}

.bomb {
    animation: colorFadeBomb 0.6s ease forwards;
    background-size: cover;
}

.unclickable {
    pointer-events: none;
}


@keyframes colorFadeGem {
    0% {
        background-color: rgb(49, 49, 65);
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        background-image: url("./assets/gem.png");
        background-color: rgba(47, 47, 59, 0.377);
        opacity: 1;
    }
}

@keyframes colorFadeBomb {
    0% {
        background-color: rgb(49, 49, 65);
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        background-image: url("./assets/bomb.png");
        background-color: rgba(207, 53, 22, 0.377);
        opacity: 1;
    }
}
